# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# executable
aura

# Output of the go coverage tool, specifically when used with LiteIDE
**/*.out

# Mac OS system files
**/.DS_Store

# Dependency directories (remove the comment below to include it)
vendor/
img/Y5S2G5.gif
img/v-is-for-vendetta-mask-anonymous-mask.gif
img/v-for-vendetta.gif
img/original.gif
img/tumblr_ntwdpl6kRd1ubjpu3o6_400.gif
img/200w.gif
img/AdventurousMiniatureDiplodocus-size_restricted.gif
img/giphy.gif
img/icegif-180.gif
